#### Numerical dataset and models creation

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import figure
from sklearn import preprocessing
import warnings
warnings.filterwarnings('ignore')

In [26]:
train=pd.read_csv("./train.csv")

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [28]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [29]:
le_Gender = preprocessing.LabelEncoder().fit(train["Gender"].astype(str))
le_Married = preprocessing.LabelEncoder().fit(train["Married"].astype(str))
le_Dependents = preprocessing.LabelEncoder().fit(train["Dependents"].astype(str))
le_Education = preprocessing.LabelEncoder().fit(train["Education"].astype(str))
le_Property_Area = preprocessing.LabelEncoder().fit(train["Property_Area"].astype(str))
le_Self_Employed = preprocessing.LabelEncoder().fit(train["Self_Employed"].astype(str))
le_Loan_Status = preprocessing.LabelEncoder().fit(train["Loan_Status"].astype(str))

In [30]:
train['Gender'] = le_Gender.transform(train['Gender'].astype(str))
train['Married'] = le_Married.transform(train['Married'].astype(str))
train['Dependents'] = le_Dependents.transform(train['Dependents'].astype(str))
train['Education'] = le_Education.transform(train['Education'].astype(str))
train['Property_Area'] = le_Property_Area.transform(train['Property_Area'].astype(str))
train['Self_Employed'] = le_Self_Employed.transform(train['Self_Employed'].astype(str))
train['Loan_Status'] = le_Loan_Status.transform(train['Loan_Status'].astype(str))

In [37]:
X = train.iloc[:, 1:-1]
y = train.iloc[:, -1]
X = X.fillna(-999)


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

X_train.to_csv("./streamlit/dataset/X_train.csv", index=False)
y_train.to_csv("./streamlit/dataset/Y_train.csv", index=False)
X_test.to_csv("./streamlit/dataset/X_test.csv", index=False)
y_test.to_csv("./streamlit/dataset/Y_test.csv", index=False)

In [8]:
import sklearn
import sklearn.tree 
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
import pickle



knn = sklearn.neighbors.KNeighborsClassifier()
svc_linear = sklearn.svm.SVC(kernel='rbf', probability=True)
linear_lr = sklearn.linear_model.LogisticRegression()
dtree = sklearn.tree.DecisionTreeClassifier(min_samples_split=2)
rforest = RandomForestClassifier(n_estimators=100, max_depth=None, min_samples_split=2, random_state=0)
nn = MLPClassifier(solver='lbfgs', alpha=1e-1, hidden_layer_sizes=(5, 2), random_state=0)

In [9]:
knn.fit(X_train, y_train)
pickle.dump(knn, open('./streamlit/models/knn.sav', 'wb'))

In [15]:
svc_linear.fit(X_train, y_train)
pickle.dump(svc_linear, open('./streamlit/models/svc_linear.sav', 'wb'))

In [10]:
linear_lr.fit(X_train, y_train)
pickle.dump(linear_lr, open('./streamlit/models/linear_lr.sav', 'wb'))

In [11]:
dtree.fit(X_train, y_train)
pickle.dump(dtree, open('./streamlit/models/dtree.sav', 'wb'))

In [13]:
rforest.fit(X_train, y_train)
pickle.dump(rforest, open('./streamlit/models/rforest.sav', 'wb'))

In [14]:
nn.fit(X_train, y_train)
pickle.dump(nn, open('./streamlit/models/nn.sav', 'wb'))